// PLACE FRONT AND BACK ON TOP OF EACHOTHER
.product {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;
    margin-left: 10px;
    background-color: #5785cf93;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    // SAME EFFECT BELOW

    // &__front, 
    // &__back {
    //     grid-row: 1/-1;
    //     grid-column: 1/-1;
    // }
}

// CARD FLIP
.product {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__front, 
    &__back {
        backface-visibility: hidden;
        transition: all .3s ease;
    }

    &__back {
        transform: rotateY(-180deg);
    }

    &:hover &__front {
        transform: rotateY(180deg);
    }
    &:hover &__back {
        transform: rotateY(0deg);
    }
    
}

.shop-product__front {
    height: 314px;
    width: 240px;
    display: grid;
    justify-items: center;
    align-items: center;
    &__image {
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    height: 95%;
    }
    &__title {
     
    }


}



.shop-product__back {
    height: 314px;
    width: 240px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.315);

    display: grid;
    grid-template-rows: 50px [title-s] 70px [title-e description-s] 1fr [description-e price-s] 25px [price-e footer-s] 65px [footer-e] 15px; 
    grid-template-columns: 15px [s] 1fr [e] 15px;
    justify-items: center;
    grid-row-gap: 7px;

    & > * {
        grid-column: s/e;
    }

    &__title {
        grid-row: title-s/title-e;

        color: #007acb;
        font-family: "Encode Sans Condensed";
        font-size: 16px;
        font-weight: 500;
    }

    &__description {
        grid-row: description-s/description-e;

        font-size: 13px;
        color: #333333;
    }

    &__price {
        grid-row: price-s/price-e;
    }

    &__quantity {
        grid-row: footer-s/footer-e;
    }

    &__add-to-cart {
        
        margin-top: 20px;
        margin-left: 60px;
        justify-self: end;
        grid-row: footer-s/footer-e;
        cursor: pointer; 
        height: 40px;
        width: 97px;
        border-radius: 20px;
        color: white;
        background-color: #0e688b;
        font-weight: 600;
        font-size: 12px;

        display: grid;
        justify-items: center;
        align-items: center;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }
    }
    
}
.product__back .back {
&__amount-box,
&__plus,
&__minus {
    border: 1px solid #E6E6E6;
    display: grid; 
    justify-items: center;
    align-items: center;
    height: 21px;
    width: 29px;
    grid-column: m/e;
}

&__amount-box {
    grid-row: s/e;
    grid-column: s/m;
    height: 42px;
    width: 65px;
    border-radius: 3px 0 0 3px;
    font-size: 23px;
    color: #333;
}
&__plus {
    grid-row: s/m;
    border-radius: 0 3px 0 0; 
    cursor: pointer;
}
&__minus {
    grid-row: m/e;
    border-radius: 0 0 3px 0; 
    cursor: pointer;
 }
}