.store {
    // background-color: rgb(122, 255, 13);    
    display: flex;
    flex-direction: column;
    align-items: center; 

    &__products {
        grid-row: products-s/products-e;
        grid-column: s/e;
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        // max-width: 1035px;
        width: 100%;
        justify-self: center;
    }
    
}

 